body {
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #2d6ce2, #ea5252);
  color: white;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.game-container {
  width: 90%;
  max-width: 400px;
  text-align: center;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5);
}

h1 {
  font-size: 2rem;
  margin-bottom: 10px;
    font-family: "Rock Salt", serif;
    font-weight: 200;
    font-style: normal;
}

.settings {
  margin: 20px 0;
}

.anagram-display {
  margin: 20px 0;
  font-size: 1rem;
}

.input-form {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
}

input {
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
}

button {
  margin-top: 10px;
  padding: 10px;
  background-color: #3700ff;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #ff0000;
}

.message {
  font-size: 1rem;
  margin: 10px 0;
  color: yellow;
}

.hint {
  margin-top: 10px;
  font-size: 1rem;
  color: lightgreen;
}

.start-button {
  padding: 10px;
  background-color: #3700ff;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-bottom: 20px;
}

.start-button:hover {
  background-color: #ff0000;
}


